:root {
  --font-family-heading: 'fraunces', serif;
  --font-family-paragraph: system-ui, sans-serif;
  --font-family-monospace: monospace;
  --base-color: #ffffff;
  --base-offset-color: #ecf2f5;
  --highlight-color: {{ .Site.Params.highlightColor | default "#7b16ff" }};
  --heading-color: #223039;
  --text-color: #223039;
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'pygments/github';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    border: 18px solid var(--highlight-color);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}



// -------------------- OVERRIDES -------------------

body {
  font-variation-settings: "SOFT" 35;
  font-optical-sizing: auto;
}


.logo{

}
.logo img{
  width:12rem; 
  max-width: 100%; 
  height: auto;
  margin-bottom: 1.5rem;
}


h1,h2,h3,h4,h5,h6{
  font-style: italic;

}

// .summary-title{
//   font-weight: 200;
// }
