{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
  <div class="intro">
    <a href="/" class="logo"><img src="/images/logo.svg" alt="Ioka.tech logo" /></a>

    <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
  </div>
  {{ .Content }}
  {{ range.Pages }}
    {{ .Render "summary" }}
  {{ end }}
{{ end }}